.container{
    margin: 100px ;
    background-color: rgb(150, 187, 187);
    border-radius: 20px;
    height: 30px;
    border: 5px solid rgb(200, 187, 178);
    width: 1000px;
}  


.louder{    
    background-color: red;
    border-radius: 20px;
    height: 30px;   
    width: 10px;
    animation: uhuy 5s ease-in-out 0.1s infinite ;
    animation-delay: 0.1s;
    animation-direction: alternate;
}

@keyframes uhuy {
    0%{
        background-color: black;
        width: 0px;
    }
    25%{
        background-color: red;
        width: 300px;
    }
    50%{
        background-color: wheat;
        width: 500px;
    }
    75%{
        background-color: brown;
        width: 800px;
    }
    100%{
        background-color: blue;
        width: 1000px;
    }
}