div{
    height: 250px;
    width: 400px;
    border-radius: 20px;
    margin:70px  auto;
    border: 3px solid rgb(10, 157, 10);
}
h3{
    margin-left: 10px;
    color: rgb(10, 157, 10);;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#nd,#nb{
    width: 175px;
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    background: none;
    border: none;
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(10, 157, 10) ;
}
#email,#password,#upass{
    width: 375px;
    margin-left: 10px;
    background: none;
    margin-right: 10px;
    box-sizing: border-box;
    border: none;
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(10, 157, 10) ;
}
button{
    width: 250px;
    height: 30px;
    margin-left: 75px;
    margin-bottom: 20px;
    border: none;
    border-radius: 20px;
    border-bottom: 1px solid rgb(10, 157, 10) ;;
}
button:hover{
    width: 250px;
    height: 30px;
    margin-left: 75px;
    background-color: rgb(169, 14, 169);
    color: white;
    margin-bottom: 20px;
    border: none;
    border-radius: 20px;
    border-bottom: 1px solid rgb(10, 157, 10) ;;
}